{% extends 'surveys/base.html' %}


{% block fields %}
	<section>
		{{ form.address.label_tag }}
		{{ form.address }}
		{{ form.address.errors }}
	</section>
	<section>
		{{ form.gender.label_tag }}
		{{ form.gender }}
		{{ form.gender.errors }}
	</section>
{% endblock fields %}
