{% extends 'surveys/base.html' %}


{% block fields %}
	<section>
		{{ form.book.label_tag }}
		{{ form.book }}
		{{ form.book.errors }}
	</section>
	<section>
		{{ form.colours.label_tag }}
		{{ form.colours }}
		{{ form.colours.errors }}
	</section>
{% endblock fields %}
