{% extends 'surveys/base.html' %}


{% block fields %}
	<section>
		{{ form.age.label_tag }}
		{{ form.age }}
		{{ form.age.errors }}
	</section>
	<section>
		{{ form.about.label_tag }}
		{{ form.about }}
		{{ form.about.errors }}
	</section>
{% endblock fields %}
