{% extends 'metoffice/base.html' %}


{% load static from static %}


{% block content %}

	<h1>Behold!  Nifty Charts!</h1>

	<section>
		<h2>Bubble & Mean</h2>
		<p>
			This one is a bubble chart of the mean temperature in Wales, England, and
			Scotland.  Interestingly, I expected a slow upward slide in temperature
			due to global warming, but I suppose that sort of thing isn't noticeable
			over such a short time period, especially on an island.
		</p>
		<p>
			Additionally, the size of the bubble is dictated by the amount of
			rainfall in that month and region.
		</p>
		<p>
			It's also fun to toggle England &amp; Wales off, to see how Scotland
			brings down the national average.
		</p>
		<div class="chart-container" style="position: relative; text-align: center; margin: 0 auto;">
			<canvas id="bubbleChart"></canvas>
		</div>
	</section>

	<section>
		<h2>Sunny Ways</h2>
		<p>
			To be honest, this chart threw me, but I checked and re-checked the data
			just to be sure.  There's a few strange things going on here:
		</p>
		<ol>
			<li>
				The UK dataset doesn't appear to be the sum of all data from all UK
				countries.  For example, the UK rainfall for December 1910 is listed as
				<code>142.2mm</code>, while the Scotland rainfal for the same time is
				<code>151.9mm</code>.  So while we're charting it here, <em>I don't
				really know what these numbers mean</em>.
			</li>
			<li>
				The rainfall in England has <em>got</em> to be off.  I mean, I know
				Scotland is <em>really</em> wet, but this makes it look like England is
				a desert by comparison!.
			</li>
			<li>
				People who like sunshine shouldn't live here.
			</li>
		</ol>
		<div class="chart-container" style="position: relative;">
			<canvas id="barChart"></canvas>
		</div>
	</section>

	<section>
		<h2>Notes</h2>
		<p>
			This test took an awfully long time to write and honestly, I don't think
			that it showcases a lot of the really cool stuff about my background, so
			allow me a moment to add some "shoulda-woulda-coulda" bits if there was
			more time & interest:
		</p>
		<ul>
			<li>
				The spec called for the ability for someone to be able to run the
				downloader at any time.  The easiest way to implement this was to build
				a management command, but what would have been even better is a button
				on the page that uses a little Javascript to trigger an API call that
				queues the download job up via Celery & RabbitMQ.  You can see a sample
				of some of my async work in my <a href="https://github.com/danielquinn/albatross">Albatross</a>
				project.
			</li>
			<li>
				The data we're working with here is public & open, so we didn't really
				get to talk about the critical issue of data security.  It might have
				been interesting, for example, if this exercise had included some
				public key encryption, like you'd find in my <a href="https://github.com/danielquinn/pyletheia">Aletheia</a>
				project.
			</li>
			<li>
				Finally, this was a solo job, which doesn't touch on my people skills,
				which is too bad, I 'cause I have some :-)  I manage <a href="https://github.com/danielquinn/paperless">Paperless</a>,
				a popular Free software project on Github (4.1k stars!) and while the
				technology isn't really all that impressive, it's a decent example of
				how I work with the broader community to build & maintain the project.
			</li>
			<li>
				My design skills!  Just kidding, I don't really have those.  Every once
				in a while I fancy myself capable of sexy layouts, but then the actual
				designer comes along and makes me look like an idiot.  That's pretty
				much why this looks the way it does.  Sure I suppose i could have just
				dumped these charts into a template like <a href="https://html5up.net/story">this one</a>,
				but then you'd be looking at someone else's work and not mine.
			</li>
		</ul>
	</section>

{% endblock content %}


{% block js_footer %}

	{{ block.super }}

	<script src="{% static 'contrib/chartjs/Chart.bundle.min.js' %}"></script>
	<script>

		var colours = {
			'England': 'rgb(255, 99, 132)',
			'Scotland': 'rgb(54, 162, 235)',
			'Wales': 'rgb(75, 192, 192)',
			'sunshine': 'rgb(255, 205, 86)',
			'rainfall': 'rgb(54, 162, 235)'
		};

		var bubbleChart = Chart.Bubble(document.getElementById('bubbleChart').getContext('2d'), {
			data: {
				datasets: []
			},
			options: {
				title: {
					display: true,
					text: 'Mean Temperatures by Region'
				},
				tooltips: {
					callbacks: {
						label: function (tooltipItem, data) {
							var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
							return value.x + ": Mean temperature: " + value.y + "°C / Rainfall: " + value.z + "mm";
						}
					}
				},
				scales: {
					xAxes: [
						{
							type: 'time',
							distribution: 'linear',
							scaleLabel: {
								display: true,
								labelString: 'Time'
							}
						}
					],
					yAxes: [
						{
							scaleLabel: {
								display: true,
								labelString: 'Temperature'
							}
						}
					]
				},
				elements: {
					point: {
						radius: function(context) {
							var value = context.dataset.data[context.dataIndex];
							var size = context.chart.width;
							var base = Math.abs(value.z) / 1000;
							return (size / 25) * base;
						}
					}
				}
			}
		});

		var barChart = new Chart(document.getElementById('barChart').getContext('2d'), {
			type: 'bar',
			data: {
				labels: [],
				datasets: [
					{
						label: 'Sunshine (hours)',
						backgroundColor: colours.sunshine,
						yAxisID: 'y-axis-1',
						data: []
					},
					{
						label: 'Rainfall (mm)',
						backgroundColor: colours.rainfall,
						yAxisID: 'y-axis-2',
						data: []
					}
				]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Sunshine & Rain'
				},
				tooltips: {
					mode: 'index',
					intersect: true
				},
				scales: {
					xAxes: [
						{
							scaleLabel: {
								display: true,
								labelString: 'Countries'
							}
						}
					],
					yAxes: [
						{
							type: 'linear',
							display: true,
							position: 'left',
							id: 'y-axis-1',
							scaleLabel: {
								display: true,
								labelString: 'Sunshine (hours)'
							}
						},
						{
							type: 'linear',
							display: true,
							position: 'right',
							id: 'y-axis-2',
							scaleLabel: {
								display: true,
								labelString: 'Rainfall (mm)'
							},
							gridLines: {
								drawOnChartArea: false
							}
						}
					]
				}
			}
		});

		MetOffice.regions.forEach(function(region){

			// Having a filterable API (both in terms of the query and in the fields
			// returned) makes this sort of thing *much* cleaner.
			$.getJSON(MetOffice.urls.api.metrics + "?fields=date,temp_mean,sunshine,rainfall&date__gt=1929-01-01&region__name=" + region, function(data){

				var colour = colours[region];

				if (region !== 'UK') {
					bubbleChart.data.datasets.push({
						label: region,
						borderColor: colour,
						backgroundColor: Color(colour).alpha(0.2).rgbString(),
						data: data.filter(function (point) {
							return point["temp_mean"] !== null;
						}).map(function (point) {
							return {x: point.date, y: point["temp_mean"], z: point.rainfall}
						})
					});
					bubbleChart.update();
				}

				barChart.data.labels.push(region);
				barChart.data.datasets[0].data.push(data.reduce(function(a, b){return a + b.sunshine}, 0).toFixed(2));
				barChart.data.datasets[1].data.push(data.reduce(function(a, b){return a + b.rainfall}, 0).toFixed(2));
				barChart.update();

			});

		});

	</script>
{% endblock js_footer %}
