{% load static from static %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		{% block css %}
			<style>
				body {
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: larger;
				}
				h1 {
					text-align: center;
					border-bottom: 1px solid #cccccc;
				}
				h1,section {
					max-width: 60rem;
					margin: 5rem auto;
				}
				p,li {
					margin: 1rem;
				}
				code {
					padding: 0.2rem 0.5rem;
					background-color: #e7e7e7;
					font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
				}
				.chart-container {
					padding-top: 2rem;
				}
			</style>
		{% endblock css %}
		{% block js_header %}
			<script src="{% static 'contrib/jquery-3.3.1.min.js' %}"></script>
			<script src="{% url 'variables' %}"></script>
		{% endblock js_header %}
	</head>
	<body>
		{% block content %}{% endblock content %}
		{% block js_footer %}{% endblock js_footer %}
	</body>
</html>
